<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alexa Chess | UI</title>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Alexa Chess UI!</h1>
        <p>This is the UI for an Alexa Chess Skill</a></p>
        <a href="https://github.com/blbecker/alexa-chess-ui" class="btn btn-primary btn-lg">Back to the Repo</a>
        <a href="https://github.com/blbecker/alexa-chess-ui" class="btn btn-primary btn-lg">Play the Game</a>
    </div>
</div>
    
</body>
</html>
